:root {
  --beige: #e3cdb1;
  --beige-two: #f7f1eb;
  --slate-grey: #5e5b69;
  --warm-grey: #9b9b9b;
  --light-grey: #f6f6f6;
  --pinkish-grey: #d0d0d0;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}
button, a {
  cursor: pointer;
}
button.outline-btn {
  width: 19.1rem;
  height: 4.2rem;
  border: solid 0.1rem var(--beige);
  background: transparent;
  font-family: Poppins;
  font-size: 1.4rem;
  color: var(--beige);
}
p {
  font-weight: lighter;
  text-align: center;
  color: var(--slate-grey);
  line-height: 2.4rem;
  font-size: 1.5rem;
}
p, h1, h2 {
  margin: 0;
}
img {
  max-width: 100%;
}
span.caption-title {
  font-size: 1.4rem;
  color: var(--beige);
  text-align: center;
  line-height: 1.9rem;
}
h1, h2 {
  font-family: Playfair Display;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 2rem;
}
.card .card-date, div.card .card-name-link-container {
  margin-left: 1.9rem;
}
.card .card-date {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--warm-grey);
  margin-top: 1.5rem;
}
.card h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.card a.card-link {
  font-size: 1.4rem;
  color: var(--beige);
  margin-right: 1.8rem;
}
.card div.card-name-link-container {
  display: flex;
  justify-content: space-between;
}
header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > #logo {
  height: 1.6rem;
  margin-left: 1.6rem;
}
header > button#menu-button {
  height: 6rem;
  width: 6rem;
  border: 0;
  padding: 0;
  background-color: inherit;
}
section {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.hero {
  background-image: url('assets/background-header-image.png');
  background-image: -webkit-image-set( url('assets/background-header-image.png') 1x, url('assets/background-header-image@2x.png') 2x);
  background-position: 64% 100%;
  background-repeat: no-repeat;
  height: 49rem;
  background-color: #fafafa;
  box-shadow: inset 0 1rem 6rem 0 rgba(0, 0, 0, 0.05);
}
section.hero > .caption-title {
  padding-top: 7rem;
}
section.hero > h1 {
  margin-bottom: 1.7rem;
}
section.latest-recipes {
  background: linear-gradient(top, white 0% white 22%, #f6f6f6 22%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, white 0%, white 22%, #f6f6f6 22%, #f6f6f6 100%);
  background: -moz-linear-gradient(top, white 0%, white 22%, #f6f6f6 22%, #f6f6f6 100%);
}
section.latest-recipes > .caption-title {
  padding-top: 4.14rem;
}
section.latest-recipes > h2 {
  margin-bottom: 2rem;
}
section.latest-recipes > h2 > span {
  color: var(--pinkish-grey);
}
section.latest-recipes > button {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
section.book-ad {
  background: linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
  background: -webkit-linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
  background: -moz-linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
}
section.book-ad h1 {
  margin-top: 6.3rem;
}
section.book-ad button {
  margin-top: 1.7rem;
}
section.book-ad img {
  width: 21rem;
  margin-top: 5.4rem;
  margin-bottom: 5.1rem;
  margin-left: -1.7rem;
}
section.video-recipes {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: var(--light-grey);
}

/* Setjum media queries neðst svo ekkert annað override þær */
@media only screen and (max-width: 543px) {
  .only-desktop {
    display: none;
  }
}