:root {
  --beige: #e3cdb1;
  --beige-two: #f7f1eb;
  --slate-grey: #5e5b69;
  --warm-grey: #9b9b9b;
  --light-grey: #f6f6f6;
  --pinkish-grey: #d0d0d0;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
}
button, a {
  cursor: pointer;
  outline: none;
}
button:active {
  filter: brightness(0.1);
}
button.outline-btn {
  width: 19.1rem;
  height: 4.2rem;
  border: solid 0.1rem var(--beige);
  background: transparent;
  font-family: Poppins;
  font-size: 1.4rem;
  color: var(--beige);
}
p {
  font-weight: lighter;
  text-align: center;
  color: var(--slate-grey);
  line-height: 2.4rem;
  font-size: 1.5rem;
}
p, h1, h2 {
  margin: 0;
}
img {
  max-width: 100%;
}
span.caption-title {
  font-size: 1.4rem;
  color: var(--beige);
  text-align: center;
  line-height: 1.9rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.8rem;
    text-align: left;
    line-height: 3.2rem;
  }
  span.caption-title {
    font-size: 1.6rem;
  }
}
.white {
  color: white;
}
.hide {
  display: none;
}
h1, h2 {
  font-family: Playfair Display;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
}
.pinkish-grey {
  color: var(--pinkish-grey);
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 2rem;
}
.card .card-date, div.card .card-name-link-container {
  margin-left: 1.9rem;
}
.card .card-date {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--warm-grey);
  margin-top: 1.5rem;
}
.card h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.card a.card-link {
  font-size: 1.4rem;
  color: var(--beige);
  margin-right: 1.8rem;
}
.card div.card-name-link-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: calc(100% / 2 - 1rem);
  }
}
header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}
header > #logo {
  height: 1.6rem;
}
header > button#menu-button {
  height: 6rem;
  width: 6rem;
  border: 0;
  padding: 0;
  background-color: inherit;
  outline: none;
}
header > nav {
  display: none;
  font-size: 1.5rem;
  color: var(--warm-grey);
}
header > nav > a {
  margin-left: 2rem;
}
@media (min-width: 544px) {
  header {
    padding: 0 3rem;
    position: absolute;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
  }
  header > button#menu-button {
    display: none;
  }
  header > nav {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  header {
    padding: 0 5rem;
  }
}
aside#side-nav {
  background-color: #fafafa;
  position: fixed;
  left: 100vw;
  top: 6rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
  font-size: 6rem;
  font-weight: bold;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
}
aside#side-nav.visible {
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
}
aside#side-nav nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  text-align: center;
}
aside#side-nav nav a {
  line-height: 12rem;
  border-bottom: solid 0.1rem #f7f1eb;
}
.transform-off-screen-left {
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
}
section, footer {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}
@media (min-width: 544px) {
  section, footer {
    padding: 0 3rem;
  }
}
@media (min-width: 768px) {
  section, footer {
    padding: 0 5rem;
  }
  section {
    align-items: flex-start;
  }
}
section.hero {
  background-image: url('assets/background-header-image.png');
  background-image: -webkit-image-set( url('assets/background-header-image.png') 1x, url('assets/background-header-image@2x.png') 2x, url('assets/background-header-image@3x.png') 3x);
  background-position: 64% 100%;
  background-repeat: no-repeat;
  height: 49rem;
  background-color: #fafafa;
  box-shadow: inset 0 1rem 6rem 0 rgba(0, 0, 0, 0.05);
}
section.hero > .caption-title {
  padding-top: 7rem;
}
section.hero > h1 {
  margin-bottom: 1.7rem;
}
section.hero > p {
  display: none;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  section.hero {
    justify-content: center;
    height: 60rem;
    background-position: 65% 130%;
    background-image: url('assets/background-header-image@2x.png');
    background-image: -webkit-image-set( url('assets/background-header-image@2x.png') 1x, url('assets/background-header-image@3x.png') 2x);
  }
  section.hero > .caption-title {
    padding-top: 0;
  }
  section.hero > p {
    display: block;
    max-width: 48rem;
  }
}
@media (min-width: 992px) {
  section.hero > p {
    max-width: 55rem;
  }
  section.hero > button.outline-btn {
    background: -webkit-linear-gradient(left, #e3cdb1 0%, #e3cdb1 47%, rgba(255,0,0,0) 47%, rgba(255,0,0,0) 100%);
    background: linear-gradient(left, #e3cdb1 0%, #e3cdb1 47%, rgba(255,0,0,0) 47%, rgba(255,0,0,0) 100%);
  }
  section.hero > button.outline-btn > span {
    color: white;
  }
}
section.latest-recipes {
  background: linear-gradient(top, white 0% white 22%, #f6f6f6 22%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, white 0%, white 22%, #f6f6f6 22%, #f6f6f6 100%);
  background: -moz-linear-gradient(top, white 0%, white 22%, #f6f6f6 22%, #f6f6f6 100%);
}
section.latest-recipes > .caption-title {
  padding-top: 4rem;
}
section.latest-recipes > h2 {
  margin-bottom: 2rem;
}
section.latest-recipes > button {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  section.latest-recipes > .caption-title {
    padding-top: 8rem;
  }
}
section.book-ad {
  background: linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
  background: -webkit-linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
  background: -moz-linear-gradient(top, #f7f1eb 0%, #f7f1eb 71%, white 71%, white 100%);
}
section.book-ad h1 {
  margin-top: 6.3rem;
}
section.book-ad button {
  margin-top: 1.7rem;
}
section.book-ad img {
  width: 21rem;
  margin-top: 5.4rem;
  margin-bottom: 5.1rem;
  margin-left: -1.7rem;
}
section.video-recipes {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: white;
  background: linear-gradient(top, white 0% white 24%, #f6f6f6 24%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, white 0%, white 24%, #f6f6f6 24%, #f6f6f6 100%);
  background: -moz-linear-gradient(top, white 0%, white 24%, #f6f6f6 24%, #f6f6f6 100%);
}
section.video-recipes h2 {
  margin-bottom: 2rem;
}
section.video-recipes button {
  margin-top: 3rem;
}
section.newsletter-subscription {
  padding-top: 6.3rem;
  padding-bottom: 6rem;
  background-color: black;
  align-items: stretch;
}
section.newsletter-subscription .form-group {
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
section.newsletter-subscription .form-group label {
  font-size: 1.4rem;
  line-height: 1.9rem; 
}
section.newsletter-subscription .form-group input#newsletter-email-imput {
  width: 100%;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 4rem;
  background: transparent;
  border: none;
  border-bottom: solid 0.1rem var(--beige);
  padding: 0;
  color: white; 
}
section.newsletter-subscription button {
  align-self: center;
}
footer {
  font-weight: lighter;
  font-size: 1.4rem;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  color: #2e2624;
}
footer #social-icons {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  padding-top: 1.6rem;
  padding-bottom: 1.9rem;
}
footer #social-icons img {
  height: 4rem;
}
footer #link {
  color: #d6d6d6;
}

/* Setjum media queries neðst svo ekkert annað override þær */
@media only screen and (max-width: 543px) {
  .only-desktop {
    display: none;
  }
}