html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: #ffffff;
}
body {
  margin: 0;
}
button {
  cursor: pointer;
}
header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > #logo {
  height: 1rem;
  margin-left: 0.8rem;
}
header > button#menu-button {
  height: 3rem;
  width: 3rem;
  border: 0;
  padding: 0;
  background-color: inherit;
}
section.hero {
  background-image: url('assets/background-header-image.png');
  background-image: -webkit-image-set( url('assets/background-header-image.png') 1x, url('assets/background-header-image@2x.png') 2x);
  background-position: 64% 100%;
  background-repeat: no-repeat;
  height: 31.5rem;
  background-color: #fafafa;
  box-shadow: inset 0 1rem 6rem 0 rgba(0, 0, 0, 0.05);
}